.section-about {
  padding: 5rem 2rem 8rem 2rem;

  .about {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 5rem;
    position: relative;

    @include respond(tab-port) {
      flex-direction: column;
    }

    &__left {
      width: 25%;
      position: relative;
      text-align: left;

      @include respond(tab-port) {
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0 3.5rem 0;
        order: 2;
        text-align: center;
      }

      & img {
        margin-top: 1.5rem;
        margin-bottom: 5rem;
        width: 25rem;
        border-radius: 0.5rem;

        @include respond(phone) {
          margin-bottom: 5rem;
        }
      }
    }

    &__right {
      width: 75%;
      padding-left: 7.5rem;
      padding-bottom: 3.5rem;

      @include respond(tab-port) {
        width: 100%;
        margin: 0 auto 5rem auto;
        padding: 0;
        order: 1;
      }

      @include respond(phone) {
        margin-bottom: 2.5rem;
      }

      &-heading {
        margin-bottom: 2.5rem;
      }

      &-text {
        margin-bottom: 2.5rem;
        font-size: 2.2rem;
        opacity: 0.9;

        & b {
          font-weight: 800;
          color: var(--color-primary);
        }
      }
    }
  }
}
