@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply inline py-4 px-10 rounded-full text-lg  text-black font-bold mr-3 bg-white tracking-wide shadow;
}

.main-container {
  @apply max-w-screen-xl mx-auto;
}

p {
  line-height: 1.85rem !important;
}

.hero-section {
  background-size: cover!important;
  background-repeat: no-repeat;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("../images/background.png");
}
